.root_container {
  @apply transition-w duration-500 font-sans;
}

@screen pc {
  .root_container {
    @apply w-[50%] mx-auto my-[100px];
  }
}

@screen tablet {
  .root_container {
    @apply w-[70%] mx-auto my-[100px];
  }
}

@screen mobile {
  .root_container {
    @apply w-[90%] mx-auto my-[100px];
  }
}
