@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply scroll-smooth text-black/80 dark:text-white/60;
}

a,
button {
  @apply px-[4px] duration-300 rounded-md inline-flex items-center;
  transition-property: background-color, transform;
}
a:hover,
button:hover {
  @apply duration-300 scale-105 bg-black/5 dark:bg-white/10;
  transition-property: background-color, transform;
}

input {
  @apply px-[10px] outline-none rounded-md border border-black/5 dark:border-white/10;
}

hr {
  @apply border-black/5 dark:border-white/10;
}

pre {
  @apply bg-black/5 dark:bg-white/10;
}

tr, th, td {
  @apply p-[6px] border border-black/5 dark:border-white/10;
}

.isvisible {
  @apply opacity-100 duration-1000;
}
.isinvisible {
  @apply opacity-0;
}

.located {
  @apply bg-black/5 dark:bg-white/10;
}
